.nice-block {
    height: 40px;
    overflow: hidden;
    width: 450px;
    padding: 10px;
    background: pink;
    margin: 20px;
}

.less {}

.more {
    height: auto;
    overflow: visible;
}

.nice-block span {
    cursor: pointer;
    color: darkviolet;
}