BODY {
    background: #93CFC4; padding: 50px;
}

H1, H2, H3 {
    color: #676e8f; font-family: sans-serif;
}

/* #page_title { }*/

#mypic {
    width: 200px;
}

a:hover{
    Color: purple;
}

#introduction h2 {
    font-style: italic;
}

#introduction p {
    font-size: 120%;
}
.navigation{ 
    display: flex;
    gap: 20px
}
#cat {
    width: 40%;
}